:root {
  --clr-neutral-100: hsl(210, 20%, 98%);
  --clr-neutral-200: hsl(225, 20%, 96%);
  --clr-neutral-300: hsl(60, 4%, 85%);
  --clr-neutral-500: hsl(60, 4%, 16%);
  --clr-neutral-600: hsl(60, 6%, 13%);
  --clr-neutral-700: hsl(218, 22%, 10%);

  --clr-primary-100: hsl(278, 100%, 83%);
  --clr-primary-200: hsl(274, 100%, 75%);
  --clr-primary-300: hsl(273, 68%, 59%);
  --clr-primary-400: hsl(272, 63%, 46%);
  --clr-primary-500: hsl(270, 73%, 35%);
  --clr-primary-600: hsl(271, 85%, 23%);
  --clr-primary-700: hsl(271, 100%, 14%);
  --clr-primary-800: hsl(262, 100%, 8%);

  --clr-section-underline: var(--clr-neutral-500);

  --clr-secondary-400: hsl(152, 41%, 52%);

  --clr-gradient: linear-gradient(90deg, red -50%, blue 150%);

  /* light theme */
  --clr-foreground: var(--clr-neutral-700);
  --clr-background: var(--clr-neutral-100);
  --clr-card-bg: var(--clr-neutral-300);
  --clr-hover-mix: hsl(0 0% 95%);
  --full-bleed-bg: var(--clr-primary-300);
  --clr-workout-section-bg: hsl(220 29% 50%);

  --fw-regular: 400;
  --fw-semi-bold: 600;
  --fw-bold: 700;

  --ff-primary: "Klee One", cursive;
  --ff-secondary: "Google Sans", sans-serif;
  --ff-accent: "Shantell Sans", cursive;

  --fs-200: clamp(0.6944rem, 0.6059rem + 0.3934vw, 0.96rem);
  --fs-300: clamp(0.8333rem, 0.7111rem + 0.5432vw, 1.2rem);
  --fs-400: clamp(1rem, 0.8333rem + 0.7407vw, 1.5rem);
  --fs-500: clamp(1.2rem, 0.975rem + 1vw, 1.875rem);
  --fs-600: clamp(1.44rem, 1.1388rem + 1.3389vw, 2.3438rem);
  --fs-700: clamp(1.728rem, 1.3274rem + 1.7803vw, 2.9297rem);
  --fs-800: clamp(2.0736rem, 1.5441rem + 2.3533vw, 3.6621rem);
  --fs-900: clamp(2.4883rem, 1.7919rem + 3.0953vw, 4.5776rem);

  --wrapper-max-width: 1440px;
  --wrapper-padding-inline: 4rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* dark theme */
    --clr-foreground: var(--clr-neutral-100);
    --clr-background: var(--clr-neutral-700);
    --clr-card-bg: var(--clr-neutral-500);
    --clr-hover-mix: hsl(0 0% 5%);
    --full-bleed-bg: var(--clr-primary-600);
    --clr-workout-section-bg: hsl(220 29% 28%);
  }
}

/* Reset */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* General styling */

body {
  color: var(--clr-foreground);
  background-color: var(--clr-background);
  font-family: var(--ff-primary);
  font-size: var(--fs-400);
  /*height: 100vh;*/
}

a {
  text-decoration: none;
  color: var(--clr-foreground);
  margin: 0;
}

section,
footer {
  padding-block: 1rem;
}

/* p {
  text-wrap: pretty;
} */

/* logo */

.logo-link {
  color: inherit;
  background: var(--clr-gradient);
  background-clip: text;
  transition: 0.25s;
}

.logo-link:hover,
.logo-link:focus-visible {
  color: transparent;
}

/* Utility Classes*/

.wrapper {
  width: min(var(--wrapper-max-width), 100% - var(--wrapper-padding-inline));
  margin-inline: auto;
}

.wrapper-narrow {
  width: min(960px, 100% - var(--wrapper-padding-inline));
  margin-inline: auto;
}

.grid {
  display: grid;
  gap: var(--grid-spacer, 1rem);
}

.flex {
  display: flex;
  gap: var(--flex-spacer, 1rem);
}

.flow > * + * {
  margin-block-start: var(--flow-spacer, 1.5rem);
}

.text-center {
  text-align: center;
}

.text-start {
  text-align: start;
}

.ff-primary {
  font-family: var(--ff-primary);
}

.ff-secondary {
  font-family: var(--ff-secondary);
}

.ff-accent {
  font-family: var(--ff-accent);
}

.fw-regular {
  font-weight: var(--fw-regular);
}

.fw-semi-bold {
  font-weight: var(--fw-semi-bold);
}

.fw-bold {
  font-weight: var(--fw-bold);
}

.fs-200 {
  font-size: var(--fs-200);
}

.fs-300 {
  font-size: var(--fs-300);
}

.fs-400 {
  font-size: var(--fs-400);
}

.fs-500 {
  font-size: var(--fs-500);
}

.fs-600 {
  font-size: var(--fs-600);
}

.fs-700 {
  font-size: var(--fs-700);
}

.fs-800 {
  font-size: var(--fs-800);
}

.fs-900 {
  font-size: var(--fs-900);
}

.bg-primary-100 {
  background-color: var(--clr-primary-100);
}

.bg-primary-200 {
  background-color: var(--clr-primary-200);
}

.bg-primary-300 {
  background-color: var(--clr-primary-300);
}

.bg-primary-400 {
  background-color: var(--clr-primary-400);
}

.bg-primary-500 {
  background-color: var(--clr-primary-500);
}

.bg-primary-600 {
  background-color: var(--clr-primary-600);
}

.bg-primary-700 {
  background-color: var(--clr-primary-700);
}

.bg-primary-800 {
  background-color: var(--clr-primary-800);
}

.section-end-line {
  border-bottom: 1px solid var(--clr-section-underline);
}

.box-shadow {
  box-shadow: 0 0 0.75rem 0 hsl(from var(--clr-neutral-700) h s l / 0.7);
  border-radius: 0.5rem;
}

/* header */

.header {
  --_animationStartsAfter: 350px;
  --_animationDistance: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid var(--clr-primary-300);
  flex-wrap: wrap;
  color: var(--clr-foreground);
  background-color: var(--clr-background);
  width: var(--_headerWidth, min(var(--wrapper-max-width), 100% - 4rem));
  margin: 1rem auto;

  @supports (animation-timeline: view()) {
    position: sticky;
    z-index: 1000;
    top: -6rem;
    animation: stickyNav linear forwards;
    animation-timeline: view();
    animation-range-start: calc(100vh + var(--_animationStartsAfter));
    animation-range-end: calc(
      100vh + var(--_animationStartsAfter) + var(--_animationDistance)
    );
    backdrop-filter: blur(0.5rem);
  }

  > .logo {
    display: var(--_logoDisplay, block);
  }
}

/* logo and nav */

.nav-lists {
  display: flex;
  gap: 2.5rem;
  padding: 0;
}

.nav-link {
  color: inherit;
}

.nav-link:hover,
.nav-link:focus-visible {
  color: var(--clr-primary-300);
  border-bottom: 1px solid;
  border-color: inherit;
}

@keyframes stickyNav {
  0%,
  100% {
    --_headerWidth: fit-content;
    --_logoDisplay: none;
    border-radius: 100vw;
    border-bottom: none;
    padding: 0 3rem;
  }

  100% {
    top: 1rem;
    color: var(--clr-neutral-100);
    background-color: hsl(from var(--clr-foreground) h s l / 0.05);
    box-shadow: 0 0 0.75rem hsl(0 0% 0% / 0.3);
    mix-blend-mode: difference;
  }
}

/* footer */

.footer-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (width > 600px) {
  .footer-section {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

/* social lists */

.social-lists {
  padding: 0;
}

.social-link > svg {
  width: clamp(2rem, 1.5398rem + 2.0455vw, 3.125rem);
  aspect-ratio: 1;
  fill: var(--clr-foreground);
}

.social-link:hover > svg,
.social-link:focus-visible > svg {
  fill: color-mix(in srgb, var(--clr-foreground), var(--clr-hover-mix) 25%);
}
