:root {
  --clr-neutral-100: hsl(210, 20%, 98%);
  --clr-neutral-200: hsl(225, 20%, 96%);
  --clr-neutral-300: hsl(60, 4%, 85%);
  --clr-neutral-500: hsl(60, 4%, 16%);
  --clr-neutral-600: hsl(60, 6%, 13%);
  --clr-neutral-700: hsl(218, 22%, 10%);

  --clr-primary-100: hsl(278, 100%, 83%);
  --clr-primary-200: hsl(274, 100%, 75%);
  --clr-primary-300: hsl(273, 68%, 59%);
  --clr-primary-400: hsl(272, 63%, 46%);
  --clr-primary-500: hsl(270, 73%, 35%);
  --clr-primary-600: hsl(271, 85%, 23%);
  --clr-primary-700: hsl(271, 100%, 14%);
  --clr-primary-800: hsl(262, 100%, 8%);

  --clr-section-underline: var(--clr-neutral-500);

  --clr-secondary-400: hsl(152, 41%, 52%);

  --clr-gradient: linear-gradient(90deg, red -50%, blue 150%);

  /* light theme */
  --clr-foreground: var(--clr-neutral-700);
  --clr-background: var(--clr-neutral-100);
  --clr-card-bg: var(--clr-neutral-300);

  --fw-regular: 400;
  --fw-semi-bold: 600;
  --fw-bold: 700;

  --ff-primary: "Klee One", cursive;
  --ff-secondary: "Google Sans", sans-serif;
  --ff-accent: "Shantell Sans", cursive;

  --fs-200: clamp(0.6944rem, 0.6059rem + 0.3934vw, 0.96rem);
  --fs-300: clamp(0.8333rem, 0.7111rem + 0.5432vw, 1.2rem);
  --fs-400: clamp(1rem, 0.8333rem + 0.7407vw, 1.5rem);
  --fs-500: clamp(1.2rem, 0.975rem + 1vw, 1.875rem);
  --fs-600: clamp(1.44rem, 1.1388rem + 1.3389vw, 2.3438rem);
  --fs-700: clamp(1.728rem, 1.3274rem + 1.7803vw, 2.9297rem);
  --fs-800: clamp(2.0736rem, 1.5441rem + 2.3533vw, 3.6621rem);
  --fs-900: clamp(2.4883rem, 1.7919rem + 3.0953vw, 4.5776rem);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* dark theme */
    --clr-foreground: var(--clr-neutral-100);
    --clr-background: var(--clr-neutral-700);
    --clr-card-bg: var(--clr-neutral-500);
  }
}

/* Reset */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* General styling */

body {
  color: var(--clr-foreground);
  background-color: var(--clr-background);
  font-family: var(--ff-primary);
  font-size: var(--fs-400);
}

a {
  text-decoration: none;
  color: var(--clr-foreground);
  margin: 0;
}
header,
section,
footer {
  padding-block: 2rem;
}

section {
  border-bottom: 1px solid var(--clr-section-underline);
}

/* logo */

.logo-link {
  background: var(--clr-gradient);
  background-clip: text;
  transition: 0.5s;
}

.logo-link:hover,
.logo-link:focus-visible {
  color: transparent;
}

/* Utility Classes*/

.wrapper {
  width: min(1024px, 100% - 4rem);
  margin-inline: auto;
}

.grid {
  display: grid;
  gap: var(--grid-spacer, 1rem);
}

.flex {
  display: flex;
  gap: var(--flex-spacer, 1rem);
}

.flow > * + * {
  margin-block-start: var(--flow-spacer, 1.5rem);
}

.text-center {
  text-align: center;
}

.text-start {
  text-align: start;
}

.ff-primary {
  font-family: var(--ff-primary);
}

.ff-secondary {
  font-family: var(--ff-secondary);
}

.ff-accent {
  font-family: var(--ff-accent);
}

.fw-regular {
  font-weight: var(--fw-regular);
}

.fw-semi-bold {
  font-weight: var(--fw-semi-bold);
}

.fw-bold {
  font-weight: var(--fw-bold);
}

.fs-200 {
  font-size: var(--fs-200);
}

.fs-300 {
  font-size: var(--fs-300);
}

.fs-400 {
  font-size: var(--fs-400);
}

.fs-500 {
  font-size: var(--fs-500);
}

.fs-600 {
  font-size: var(--fs-600);
}

.fs-700 {
  font-size: var(--fs-700);
}

.fs-800 {
  font-size: var(--fs-800);
}

.fs-900 {
  font-size: var(--fs-900);
}

/* header */

@media (width > 600px) {
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 3px solid var(--clr-primary-300);
  }
}

/* logo and nav */

.nav-lists {
  display: flex;
  gap: 2.5rem;
}

@media (width < 600px) {
  .logo-container {
    border-bottom: 3px solid var(--clr-primary-300);
    padding-block: 0.5rem;
  }

  .nav-lists {
    --border-width: 1px;
    /*position: fixed;
    inset: auto 0;*/
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    border-radius: 100vw;

    background: hsl(from var(--clr-neutral-600) h s l / 0.5);
    backdrop-filter: blur(15px);
  }

  .nav-lists::before {
    content: "";
    position: absolute;
    z-index: -1;
    inset: 0;
    border-radius: inherit;
    border: var(--border-width) solid transparent;
    background: linear-gradient(var(--clr-neutral-600), var(--clr-neutral-500))
      border-box;
    mask:
      linear-gradient(black) border-box,
      linear-gradient(black) padding-box;
    mask-composite: subtract;
  }
}

/* main */

/* link button */

.link-btn {
  width: fit-content;
  height: fit-content;
  display: block;
  color: var(--clr-secondary-400);
  background-color: transparent;
  margin: 1rem auto;
  padding: 0.5rem 1.5rem;
  border: 1px solid var(--clr-secondary-400);
}

/* hero */

.hero-section {
  grid-template-areas:
    "text"
    "image"
    "link";
}

@media (width > 600px) {
  .hero-section {
    grid-template-areas:
      "text image"
      "text image"
      "link image";
    grid-auto-columns: 1fr;
  }

  .link-btn {
    margin: 0;
  }
}

.hero-section > *:nth-child(1) {
  text-align: start;
  grid-area: text;
  align-self: start;
}

.hero-section > *:nth-child(2) {
  grid-area: image;
}

.hero-section > *:nth-child(3) {
  grid-area: link;
  align-self: start;
}

.hero-content {
  --grid-spacer: 1.5rem;
  text-align: center;
}

/* avatar */

.hero-avatar {
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 50%;
}

/* hobby section */

/* card */

.cards-container {
  container-type: inline-size;
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(min(500px, 1fr), 1fr));
}

.card {
  --border-radius: 0.5rem;
  --text-padding: 0.25rem;
}

.card-title {
  width: fit-content;
  padding: var(--text-padding);
  border-radius: var(--border-radius);
  border: 2px solid transparent;

  background:
    linear-gradient(var(--clr-background)) padding-box,
    linear-gradient(90deg, red -70%, blue 170%) border-box;
}

.card-content-container {
  grid-template-columns: 150px 1fr;
  border-radius: var(--border-radius);
  padding: 1rem;
  background-color: var(--clr-card-bg);
}

.card-img {
  width: 150px;
  aspect-ratio: 150px;
}

.card-img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--border-radius);
}

.card-contents {
  text-align: start;
}

.card-content-heading {
  padding-block-start: 0.5rem;
}

/* footer */

/* social lists */

.social-lists {
  padding: 0;
}

.social-link > svg {
  width: 50px;
  aspect-ratio: 1;
  fill: var(--clr-foreground);
}
